*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body
{
    font-size:18px;
    font-family: 'Barlow', sans-serif;
}

header
{
    height: 100vw;
    height: 100vh;
    background:url(images/desktop/image-header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:#fff;
    text-align: center;
}

#logo {
    width: 250px;
  }
  
  #logo img {
    width: 100%;
  }
  
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    height: 90px;
    margin: 0 auto;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width:400px;
}

ul a {
    text-decoration: none;
    color:#fff;
}